@model Dowali.UI.Dto.ProjectsDTO


@{
    ViewData["Title"] = "Home Page";
}



<!-- MultiStep Form -->
<div class="row" style="justify-content:center;display:flex;margin:5%">
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel">
                            <div class="stepwizard-step col-xs-3">
                                <a href="#step-1" type="button" class="btn btn-success btn-circle" readonly> <i class="fa-regular fa-rectangle-list fa-2xl"></i> </a>
                                <p><small>بيانات المشروع</small></p>
                            </div>
                            <div class="stepwizard-step col-xs-3">
                                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled"><i class="fa-solid fa-user-pen fa-2xl"></i></a>
                                <p><small>بيانات الباحثين</small></p>
                            </div>
                            <div class="stepwizard-step col-xs-3">
                                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled"> <i class="fa-solid fa-file-invoice-dollar fa-2xl"></i> </a>
                                <p><small>البيانات المالية</small></p>
                            </div>
                        </div>
                        <br />
                    </div>

                    @using (Html.BeginForm("CreateProject", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @* ==============================Step one Project information fields ====================================== *@
                        <div class="panel panel-primary setup-content" id="step-1">
                            <div class="panel-heading">
                                <center> <h3 class="panel-title">بيانات المشروع</h3> </center>
                                <br />
                                <br />
                            </div>
                            <br />
                            <div class="panel-body wizard-Panel">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Project.Title_Ar, new { @class = "form-label required" })
                                            <span asp-validation-for="Project.Title_Ar" class="text-danger"></span>
                                            @Html.TextBoxFor(m => m.Project.Title_Ar, null, new { @class = "form-control", required = "required" })
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Project.Title_En, new { @class = "form-label required" })
                                            <span asp-validation-for="Project.Title_En" class="text-danger"></span>
                                            @Html.TextBoxFor(m => m.Project.Title_En, null, new { @class = "form-control", required = "required" })
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Project.Douration, new { @class = "form-label required" })
                                            <span asp-validation-for="Project.Douration" class="text-danger"></span>
                                            @Html.TextBoxFor(m => m.Project.Douration, null, new { @class = "form-control", required = "required", Type = "number" })
                                        </div>

                                    </div>

                                    <hr />


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Project.Main_Field, new { @class = "form-label required" })
                                            <span asp-validation-for="Project.Main_Field" class="text-danger"></span>
                                            @Html.TextBoxFor(m => m.Project.Main_Field, null, new { @class = "form-control", required = "required" })
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Project.Sub_Field, new { @class = "form-label required" })
                                            <span asp-validation-for="Project.Sub_Field" class="text-danger"></span>
                                            @Html.TextBoxFor(m => m.Project.Sub_Field, null, new { @class = "form-control", required = "required" })
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Project.File, new { @class = "form-label required" })
                                            <span asp-validation-for="Project.File" class="text-danger"></span>
                                            <input type="File" name="Project.File" class="attached_file form-control" />
                                        </div>

                                    </div>
                                    <hr />

                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.Project.Summary_Ar, new { @class = "form-label" })
                                        <br />
                                        <span asp-validation-for="Project.Summary_Ar" class="text-danger"></span>
                                        @Html.TextAreaFor(m => m.Project.Summary_Ar, new { @class = "form-control", style = "width:100%" })

                                    </div>

                                    <div class="col-md-6">
                                        @Html.LabelFor(m => m.Project.Summary_En, new { @class = "form-label" })
                                        <br />
                                        @Html.TextAreaFor(m => m.Project.Summary_En, new { @class = "form-control", style = "width:100%;" })
                                        <span asp-validation-for="Project.Summary_En" class="text-danger"></span>

                                    </div>


                                    <div style="padding-top:10px">
                                        <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                                    </div>

                                </div>
                                <br />
                            </div>
                        </div>
                        @* ============================== End Step one Project information fields ====================================== *@

                        @* ==============================Step Two investggators information fields ====================================== *@
                        <div class="panel panel-primary setup-content" id="step-2">
                            <div class="panel-heading">
                                <center><h3 class="panel-title">بيانات الباحثين</h3></center>
                                <br />

                            </div>
                            <div class="panel-body">
                                <div>
                                    <h3> الباحث الداخلي</h3>
                                    <br />
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.investigator.Name, new { @class = "form-label required" })
                                            @Html.TextBoxFor(m => m.investigator.Name, null, new { @class = "form-control", required = "required" })
                                            <span asp-validation-for="investigator.Name" class="text-danger"></span>
                                        </div>


                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.investigator.Academic_Rank, new { @class = "form-label required" })
                                            <select name="Academic_Rank" class="form-select">
                                                <option value=""></option>
                                                <option value="معيد" class="dropdown-item">معيد</option>
                                                <option value="دكتور">دكتور</option>
                                                <option value="مساعد تدريس">مساعد تدريس</option>
                                            </select>
                                            <span asp-validation-for="investigator.Academic_Rank" class="text-danger"></span>
                                        </div>

                                    </div>

                                    <div class="col-md-4">

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.investigator.Department, new { @class = "form-label required" })
                                            @Html.TextBoxFor(m => m.investigator.Department, null, new { @class = "form-control", required = "required" })
                                            <span asp-validation-for="investigator.Department" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.investigator.College_Center, new { @class = "form-label required" })
                                            @Html.TextBoxFor(m => m.investigator.College_Center, null, new { @class = "form-control", required = "required" })
                                            <span asp-validation-for="investigator.College_Center" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.investigator.Address_Of_Institiution, new { @class = "form-label required" })
                                            @Html.TextBoxFor(m => m.investigator.Address_Of_Institiution, null, new { @class = "form-control", required = "required" })
                                            <span asp-validation-for="investigator.Address_Of_Institiution" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.investigator.Office_Phone, new { @class = "form-label required" })
                                            @Html.TextBoxFor(m => m.investigator.Office_Phone, null, new { @class = "form-control", required = "required", type = "number" })
                                            <span asp-validation-for="investigator.Office_Phone" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.investigator.Mobile_Number, new { @class = "form-label required" })
                                            @Html.TextBoxFor(m => m.investigator.Mobile_Number, null, new { @class = "form-control", required = "required", type = "number" })
                                            <span asp-validation-for="investigator.Mobile_Number" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.investigator.Email, new { @class = "form-label required" })
                                            @Html.TextBoxFor(m => m.investigator.Email, null, new { @class = "form-control", required = "required", type = "email" })
                                            <span asp-validation-for="investigator.Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <br /> <br />
                                <div>
                                    <h3> الباحث الخارجي</h3>
                                    <hr />
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Ex_Inv_Name, new { @class = "form-label required" })
                                            <span asp-validation-for="Ex_Inv_Name" class="text-danger"></span>
                                            @Html.TextBoxFor(m => m.Ex_Inv_Name, null, new { @class = "form-control", required = "required" })
                                        </div>


                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Ext_Inv_Academic_Rank, new { @class = "form-label required" })
                                            <span asp-validation-for="Ext_Inv_Academic_Rank" class="text-danger"></span>
                                            <select name="Ex_Inv_Academic_Rank" class="form-select">
                                                <option value=""></option>
                                                <option value="معيد" class="dropdown-item">معيد</option>
                                                <option value="دكتور">دكتور</option>
                                                <option value="مساعد تدريس">مساعد تدريس</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="col-md-4">

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Ext_Inv_Department, new { @class = "form-label required" })
                                            <span asp-validation-for="Ext_Inv_Department" class="text-danger"></span>
                                            @Html.TextBoxFor(m => m.Ext_Inv_Department, null, new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Ext_inv_College_Center, new { @class = "form-label required" })
                                            @Html.TextBoxFor(m => m.Ext_inv_College_Center, null, new { @class = "form-control", required = "required" })
                                            <span asp-validation-for="Ext_inv_College_Center" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Ext_Inv_Address_Of_Institiution, new { @class = "form-label required" })
                                            @Html.TextBoxFor(m => m.Ext_Inv_Address_Of_Institiution, null, new { @class = "form-control", required = "required" })
                                            <span asp-validation-for="Ext_Inv_Address_Of_Institiution" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Ext_Inv_Office_Phone, new { @class = "form-label required" })
                                            <span asp-validation-for="Ext_Inv_Office_Phone" class="text-danger"></span>
                                            @Html.TextBoxFor(m => m.Ext_Inv_Office_Phone, null, new { @class = "form-control", required = "required", type = "number" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Ext_Inv_Mobile_Number, new { @class = "form-label required" })
                                            <span asp-validation-for="Ext_Inv_Mobile_Number" class="text-danger"></span>
                                            @Html.TextBoxFor(m => m.Ext_Inv_Mobile_Number, null, new { @class = "form-control", required = "required", type = "number" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Ext_Inv_Email, new { @class = "form-label required" })
                                            <span asp-validation-for="Ext_Inv_Email" class="text-danger"></span>
                                            @Html.TextBoxFor(m => m.Ext_Inv_Email, null, new { @class = "form-control", required = "required", type = "email" })
                                        </div>
                                    </div>
                                </div>


                                <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                            </div>
                        </div>
                        @* ============================== End Step Two investggators information fields ====================================== *@

                        @* ==============================  Step tree Finantial information fields ====================================== *@


                        <div class="panel panel-primary setup-content" id="step-3">
                            <div class="panel-heading">
                                <center><h3 class="panel-title">البيانات المالية</h3></center>
                                <br />
                            </div>
                            <div class="panel-body">


                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Financial_Section.Wages_Salaries, new { @class = "form-label required" })
                                            @Html.TextBoxFor(m => m.Financial_Section.Wages_Salaries, null, new { @class = "form-control", required = "required" })
                                            <span asp-validation-for="Financial_Section.Wages_Salaries" class="text-danger"></span>
                                        </div>


                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Financial_Section.Equepment_And_Accessories, new { @class = "form-label required" })
                                            @Html.TextBoxFor(m => m.Financial_Section.Equepment_And_Accessories, null, new { @class = "form-control", required = "required" })
                                            <span asp-validation-for="Financial_Section.Equepment_And_Accessories" class="text-danger"></span>
                                        </div>

                                    </div>

                                    <div class="col-md-4">

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Financial_Section.consumable, new { @class = "form-label required" })
                                            @Html.TextBoxFor(m => m.Financial_Section.consumable, null, new { @class = "form-control", required = "required" })
                                            <span asp-validation-for="Financial_Section.consumable" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Financial_Section.Exchange_Visits, new { @class = "form-label required" })
                                            <span asp-validation-for="Financial_Section.Exchange_Visits" class="text-danger"></span>
                                            @Html.TextBoxFor(m => m.Financial_Section.Exchange_Visits, null, new { @class = "form-control", required = "required" })
                                        </div>


                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Financial_Section.Other_Expendtiure_items, new { @class = "form-label required" })
                                            <span asp-validation-for="Financial_Section.Other_Expendtiure_items" class="text-danger"></span>
                                            @Html.TextBoxFor(m => m.Financial_Section.Other_Expendtiure_items, null, new { @class = "form-control", required = "required" })
                                        </div>

                                    </div>

                                    <div class="col-md-4">

                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Financial_Section.External_Partner_Contract_include_Tax, new { @class = "form-label required" })
                                            <span asp-validation-for="Financial_Section.External_Partner_Contract_include_Tax" class="text-danger"></span>
                                            @Html.TextBoxFor(m => m.Financial_Section.External_Partner_Contract_include_Tax, null, new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Financial_Section.Total, new { @class = "form-label required" })
                                            <span asp-validation-for="Financial_Section.Total" class="text-danger"></span>
                                            @Html.TextBoxFor(m => m.Financial_Section.Total, null, new { @class = "form-control", required = "required" })
                                        </div>
                                    </div>
                                </div>


                                <button class="btn btn-success pull-right" type="submit">Finish!</button>
                            </div>
                        </div>

                        @* ============================== End Step tree Finantial information fields ====================================== *@

                    }
                </div>

            </div>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_NotificationPartial" />
    <partial name="_ValidationScriptsPartial" />



}
