@model Dowali.UI.Dto.ProjectsDTO


@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<div class="row">


    <div class="col-xl-4 col-lg-4">
        <div class="card l-bg-blue-dark">
            <div class="card-statistic-3 p-4">
                <div class="mb-4">
                    <h5 class="card-title mb-0"> 
                        <center>
                            <br />
                            <h4>عدد البحوث المسجة</h4>
                            <br />
                        </center>
                    </h5>
                  
                <div class="card-icon-large text-center"><i class="fas fa-solid fa-book-atlas"></i></div>

                </div>

                <div class="row align-items-center mb-2 d-flex">
                    
                    <div class="col-4 text-center">
                        <h2 class="align-items-center">
                            3,243
                        </h2>
                        <br />
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="col-xl-4 col-lg-4">
        <div class="card l-bg-green-dark">
            <div class="card-statistic-3 p-4">
                <div class="mb-4">
                    <h5 class="card-title mb-0">
                        <center>
                            <br />
                            <h4>عدد البحوث المقبولة</h4>
                            <br />
                        </center>
                    </h5>

                    <div class="card-icon-large text-center"><i class="fas fa-circle-check"></i></div>

                </div>

                <div class="row align-items-center mb-2 d-flex">

                    <div class="col-4 text-center">
                        <h2 class="align-items-center">
                            3,243

                        </h2>
                        <br />
                    </div>
                </div>


            </div>
        </div>
    </div>



    <div class="col-xl-4 col-lg-4">
        <div class="card l-bg-orange-dark">
            <div class="card-statistic-3 p-4">
                <div class="mb-4">
                    <h5 class="card-title mb-0">
                        <center>
                            <br />
                            <h4>عدد البحوث المرفوضة</h4>
                            <br />
                        </center>
                    </h5>

                    <div class="card-icon-large text-center"><i class="fas fa-ban"></i></div>

                </div>

                <div class="row align-items-center mb-2 d-flex">

                    <div class="col-4 text-center">
                        <h2 class="align-items-center">
                            3,243
                        </h2>
                        <br />
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>

<div class="row">

    <div class="col-md-12">
        <div class="block">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <center>البحوث</center>
                </div>

                <div class="panel-body">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <th>عوان البحث </th>
                        <th>الباحث الداخلي</th>
                        <th>الباحث الخارجي</th>
                        <th>اجمالي التكلفة</th>
                        <th> حالة البحث </th>
                        <th> تفاصيل البحث</th>
                        </thead>
                        <tbody>
                            @foreach (var project in Model.Projects)
                            {
                                <tr>
                                    <td>@project.Title_Ar</td>
                                    @foreach (var investgator in Model.ProjectInvestigators)
                                    {
                                        if (investgator.Project_Id == project.ID && investgator.Inv_Type == 0)
                                        {
                                            <td>@investgator.Name</td>
                                        }

                                        if (investgator.Project_Id == project.ID && investgator.Inv_Type == 1)
                                        {
                                            <td>@investgator.Name</td>
                                        }
                                    }

                                    @foreach (var financtial in Model.Projectinancial_Section)
                                    {
                                        if (financtial.Project_Id == project.ID)
                                        {
                                            <td>@financtial.Total</td>
                                        }
                                    }

                                    @switch (project.satatus)
                                    {

                                        case 0:
                                            <td>تم رفض الاعتماد</td>
                                            break;
                                        case 1:
                                            <td>تم اعتماد البحث</td>
                                            break;
                                        default:
                                            <td>تحت الاجراء</td>
                                            break;
                                    }

                                    <td>
                                        <a asp-action="Details" asp-controller="Home" asp-route-ProjectId="@project.ID"><button class="btn btn-info">التفاصيل</button></a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>



</div>



@* ==================================================For future use ================================ *@


@* ======================================== End of the section =================================== *@

<div class="row" style="justify-content:center;display:flex">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="row" style="justify-content:center;display:flex;text-align:center">
                    <div class="col-md-6">
                        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">الرئيسية</a>
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Create" asp-controller="Home" class="btn btn-secondary">ابدأ الخدمة</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_NotificationPartial" />
    <partial name="_ValidationScriptsPartial" />
}
